{% extends 'base.html' %}

{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/about.css" />
<section class="div-height">
    <div class="headline">
        <h1>
            <span class="comm-headline">
                <span>About Us</span>
            </span>
        </h1>

    </div>
</section>


<section>
    <div class="about-section  about-page-section-space pt-130">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 ">
                    <div class="testimonial-video"
                        style="background-image: url()">
                        <div class="overlay op-3"></div>
                        <div class="testimonial-btn">
                            <a href="" class="property-yt hvr-ripple-out"><i
                                    class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="section-title v3">
                        <!-- <p>About ElitePro</p> -->
                        <h2>We Help You Buy, Occupy &amp; Invest in Real Estate Assets.</h2>
                    </div>
                    <div class="about-text res-box">
                        <p>With an absolutely integrated and robust Real Estate platform, we started our journey of
                            addressing the realty needs of Gurugram’s commercial and residential segment in 2012. We
                            have a core vision to deliver the best and most viable investment opportunities PAN India.
                            As the name suggests, we are dedicated to providing exclusive and superior services in terms
                            of proficiency and quality. Since our inception, we have been serving the objective of
                            elevating our customers' monetary well-being. </p>

                        <p>To date, we have sold an area of about 45 million sq. ft. with more than 25,000 happy and
                            regular customers. From best deals to effortless transactions and property management, our
                            experienced team of consultants and market experts provide you most profitable deals,
                            data-backed solutions, and full-fledged post-sales services. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{% include 'footer.html' %}
{% endblock %}