{% extends 'base.html' %}

{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/about.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="div-height">
    <div class="headline">
        <h1>
            <span class="comm-headline">
                <span>About Us</span>
            </span>
        </h1>

    </div>
</section>


<section>
    <div class="about-section  about-page-section-space pt-130">
        <div class="container">
            <div class="row shiftimage">
                <div class="imageset">
                    <div class="testimonial-image">
                        <img class="imageabout" src="https://www.eliteproinfra.com/front/images/about/about.jpg" alt="">
                    </div>
                </div>
                <div class="textset">
                    <div class="section-title v3">
                        <!-- <p>About ElitePro</p> -->
                        <h2>We Help You Buy, Occupy &amp; Invest in Real Estate Assets.</h2>
                    </div>
                    <div class="about-text res-box">
                        <p>With an absolutely integrated and robust Real Estate platform, we started our journey of
                            addressing the realty needs of Gurugram’s commercial and residential segment in 2012. We
                            have a core vision to deliver the best and most viable investment opportunities PAN India.
                            As the name suggests, we are dedicated to providing exclusive and superior services in terms
                            of proficiency and quality. Since our inception, we have been serving the objective of
                            elevating our customers' monetary well-being. </p>

                        <p>To date, we have sold an area of about 45 million sq. ft. with more than 25,000 happy and
                            regular customers. From best deals to effortless transactions and property management, our
                            experienced team of consultants and market experts provide you most profitable deals,
                            data-backed solutions, and full-fledged post-sales services. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section>
    <div class="promodemo-section pt-120 v2">
        <div class="containerdemo">
            <div class="row">
                <div class="col-xl-5 col-lg-12">
                    <div class="promodemo-desc">
                        <div class="section-title v2">
                            <!--  <p>Lorem ipsum dolor sit.</p> -->
                            <h2>Why choose us</h2>
                        </div>
                        <div class="promodemo-text">
                            <p><b>Choose a Pro, Like a Pro!</b></p>
                            <p>We are an inclusive and insight-driven consultancy and have been making a difference in
                                the Real Estate world by providing customer-centric solutions. Finding the best,
                                comfortable, and luxurious place to lead a wholesome lifestyle is not less than a trial
                                by fire but with us, it is easy and hassle-free. With ElitePro, you can delve into the
                                intricacies of design concepts, architecture, and the value of the place you’ve dreamt
                                of. Providing expert guidance to give you a detailed insight of the structures and the
                                development practices used is the ElitePro edge. </p>
                            <p>When you seek services from us, you receive impeccable results as our specialized
                                professionals dedicatedly work towards delivering you an immersive and transparent
                                home-buying and investing experience. </p>
                        </div>
                        <div class="row pt-5">
                            <div class="col-sm-4 col-6">
                                <div class="counterdemo-text v2">
                                    <i class="fa fa-building"></i>
                                    <h6 class="counterdemo-value" data-from="0" data-to="10" data-speed="2500">10</h6>
                                    <p>Years of experience</p>

                                </div>
                            </div>
                            <div class="col-sm-4 col-6">
                                <div class="counterdemo-text v2">
                                    <i class="fa fa-thumbs-up"></i>
                                    <h6 class="counterdemo-value" data-from="0" data-to="25500" data-speed="2000">25500
                                    </h6>
                                    <p> Happy Customers</p>
                                </div>
                            </div>
                            <div class="col-sm-4 col-6">
                                <div class="counterdemo-text v2">
                                    <i class="fa fa-user"></i>
                                    <h6 class="counterdemo-value" data-from="0" data-to="500" data-speed="2500">500</h6>
                                    <p>Real estate Agent</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="promodemo-content-wrap">
                                <div class="promodemo-content">
                                    <img src="/static/img/about/pin.png" alt="Personalized Service">
                                    <h4>Personalized Service.</h4>
                                    <p>We are dedicated to transforming the real estate sector by offering
                                        technology-based and innovative services to our clients. We uncover investment
                                        opportunities and help you make an informed decision as per your personal goals
                                        and requirements. We don not believe in ‘One Size Fits All’. </p>
                                </div>
                                <div class="promodemo-content">
                                    <img src="/static/img/about/pin2.png" alt="Best Deals &amp; Easy Financing">
                                    <h4>Best Deals &amp; Easy Financing</h4>
                                    <p>We are trusted for transparency and with this belief, we offer you white-glove
                                        property services that fit your needs at reasonable rates. With end-to-end
                                        assistance, we help you with hassle-free financing &amp; carrying out smart
                                        transactions. </p>
                                </div>
                                <div class="promodemo-content">
                                    <img src="/static/img/about/pin3.png" alt="Round-the-Clock Support">
                                    <h4>Round-the-Clock Support</h4>
                                    <p>We’re available 24x7 to help our clients achieve their dreams. From commercial to
                                        residential properties in the best location and financing, we are here to help
                                        you. So let us know your interests &amp; queries and we’ll get back to you in no
                                        time.</p>
                                </div>
                                <div class="promodemo-content">
                                    <img src="/static/img/about/pin4.png" alt="Trusted for Delivering the Best">
                                    <h4>Trusted for Delivering the Best </h4>
                                    <p>Throughout your home-buying or investment journey, ElitePro helps you with
                                        extensive support. We work with transparency, professionalism, and ethics to
                                        match your requirements. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}
{% endblock %}