{% extends 'base.html' %}

{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/properties.css" />
<section>

    <div class="blog-area">
        <div class="container">
            <div class="row">
                <!--Blog post starts-->
                <div class="col-xl-8 order-xl-12 order-xl-1 order-1 left-container">
                    <div class="container">
                        <!-- Start -->
                        <div class="amwd-project-sec-main-border">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                        <!-- Img -->
                                        <div class="property-item">
                                            <a class="property-img"
                                                href="https://www.eliteproinfra.com/properties/dlf-one-midtown"><img
                                                    src="https://www.eliteproinfra.com/uploads/property/1681046436.png"
                                                    alt="#"></a>
                                            <ul class="feature_text">
                                                <li class="feature_cb"><span>Residential</span></li>
                                                <li class="feature_or"><span>New Launch</span></li>
                                            </ul>
                                            <div class="property-author-wrap">
                                                <ul class="save-btn">
                                                    <li data-toggle="tooltip" data-placement="top" title=""
                                                        data-original-title="Photos"><a href=".photo-gallery"
                                                            class="btn-gallery"><i class="lnr lnr-camera"></i></a></li>
                                                    <li data-toggle="tooltip" data-placement="top" title=""
                                                        data-original-title="Call For Enquiry"><a
                                                            href="tel:+919811696747"><i class="fas fa-phone"></i></a>
                                                    </li>
                                                </ul>
                                                <div class="hidden photo-gallery">
                                                    <a
                                                        href="https://www.eliteproinfra.com/uploads/property/1681046436Gallery.png"></a>
                                                    <a
                                                        href="https://www.eliteproinfra.com/uploads/property/1681046436Gallery 1.png"></a>
                                                    <a
                                                        href="https://www.eliteproinfra.com/uploads/property/1681046436Gallery 2.png"></a>
                                                    <a
                                                        href="https://www.eliteproinfra.com/uploads/property/1681046436Gallery 3.png"></a>
                                                    <a
                                                        href="https://www.eliteproinfra.com/uploads/property/1681046436Gallery 4.png"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Img -->
                                    </div>
                                </div>
                                <!--  -->
                                <div class="col-md-8">
                                    <div class="amwd-project-list_details_body">
                                        <h2 class="amwd-project-list_h2">
                                            <div class="amwd-project-list_pt"><a href="" style="color:#000;">DLF One
                                                    Midtown</a></div>
                                            <span class="amwd-project-list_span">
                                                <span class="amwd-project-list_span_i1"><i
                                                        class="fa fa-map-marker"></i>Shivaji Marg, West Delhi,
                                                    Delhi</span>
                                            </span>
                                        </h2>
                                        <div class="amwd-project-list_p-main">
                                            <div class="amwd-project-list_p-main2">
                                                <span class="amwd-project-list_price">₹ 6.0 Cr - 8.5 Cr</span>
                                            </div>
                                            <div class="amwd-project-list_inner_details">
                                                <ul class="amwd-project-list_inner_details_ul">
                                                    <li class="amwd-project-list_inner_details_li">
                                                        <div class="amwd-project-list_inner_details_area1">2300.00
                                                            sq.ft. - 3000.00 sq. ft</div>
                                                    </li>
                                                    <li class="amwd-project-list_inner_details_li">
                                                        <div class="amwd-project-list_inner_details_area1">Ready To Move
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="amwd-project-list_inner_details_des">
                                            <div>
                                                <p class="addReadMore showlesscontent">DLF One Midtown Luxury
                                                    Residential Apartment In Shivaji Marg West Delhi</p>
                                            </div>
                                        </div>

                                        <div class="amwd-project-list_inner_details_down_b">
                                            <div class="amwd-project-list_inner_details_down_box">
                                                <div class="amwd-project-list_inner_details_down_box_t">Gym</div>
                                            </div>
                                            <div class="amwd-project-list_inner_details_down_box">
                                                <div class="amwd-project-list_inner_details_down_box_t">Swimming Pool
                                                </div>
                                            </div>
                                            <div class="amwd-project-list_inner_details_down_box">
                                                <div class="amwd-project-list_inner_details_down_box_t">Club House</div>
                                            </div>
                                            <div class="amwd-project-list_inner_details_down_box">
                                                <div class="amwd-project-list_inner_details_down_box_t">24*7 Security
                                                </div>
                                            </div>
                                            <div class="amwd-project-list_inner_details_down_box">
                                                <div class="amwd-project-list_inner_details_down_box_t">Elevator</div>
                                            </div>
                                            <div class="amwd-project-list_inner_details_down_box">
                                                <div class="amwd-project-list_inner_details_down_box_t">CCTV</div>
                                            </div>
                                            <div class="amwd-project-list_inner_details_down_box">
                                                <div class="amwd-project-list_inner_details_down_box_t">Parking Space
                                                </div>
                                            </div>
                                            <div class="amwd-project-list_inner_details_down_box">
                                                <div class="amwd-project-list_inner_details_down_box_t">Cafeteria/Food
                                                    Court</div>
                                            </div>
                                            <div class="amwd-project-list_inner_details_down_box">
                                                <div class="amwd-project-list_inner_details_down_box_t">Bar/Lounge</div>
                                            </div>
                                            <div class="amwd-project-list_inner_details_down_box">
                                                <div class="amwd-project-list_inner_details_down_box_t">Power Backup
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="amwd-project-list_d_contact">
                                        <div class="amwd-project-list_d_contact_inner">
                                            <a href="https://www.eliteproinfra.com/properties/dlf-one-midtown"><button
                                                    class="amwd-project-list_d_contact_inner_b1">Details</button></a>
                                            <button class="amwd-project-list_d_contact_inner_b2">
                                                <i class="fa fa-phone"></i>
                                                <span class="amwd-project-list_d_contact_inner_b2_t">Contact
                                                    Agent</span>
                                            </button>
                                            <a href="https://api.whatsapp.com/send/?phone=919810474360&amp;text=Hi! I'm Interested In DLF One Midtown. Please Share Details."
                                                target="_blank">
                                                <button class="amwd-project-list_d_contact_inner_b3">
                                                    <i class="fab fa-whatsapp"></i>
                                                    <span class="amwd-project-list_d_contact_inner_b3_t">WhatsApp</span>
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Stop -->
                        <!-- Start -->
                        <div class="amwd-project-sec-main-border">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                        <!-- Img -->
                                        <div class="property-item">
                                            <a class="property-img"
                                                href="https://www.eliteproinfra.com/properties/Omaxe-chandni-chowk"><img
                                                    src="https://www.eliteproinfra.com/uploads/property/1681370944.png"
                                                    alt="#"></a>
                                            <ul class="feature_text">
                                                <li class="feature_cb"><span>Commercial</span></li>
                                                <li class="feature_or"><span>Under Construction</span></li>
                                            </ul>
                                            <div class="property-author-wrap">
                                                <ul class="save-btn">
                                                    <li data-toggle="tooltip" data-placement="top" title=""
                                                        data-original-title="Photos"><a href=".photo-gallery"
                                                            class="btn-gallery"><i class="lnr lnr-camera"></i></a></li>
                                                    <li data-toggle="tooltip" data-placement="top" title=""
                                                        data-original-title="Call For Enquiry"><a
                                                            href="tel:+919811696747"><i class="fas fa-phone"></i></a>
                                                    </li>
                                                </ul>
                                                <div class="hidden photo-gallery">
                                                    <a
                                                        href="https://www.eliteproinfra.com/uploads/property/1681370944Gallery.png"></a>
                                                    <a
                                                        href="https://www.eliteproinfra.com/uploads/property/1681370944Gallery 1.png"></a>
                                                    <a
                                                        href="https://www.eliteproinfra.com/uploads/property/1681370944Gallery 2.png"></a>
                                                    <a
                                                        href="https://www.eliteproinfra.com/uploads/property/1681370944Gallery 3.png"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Img -->
                                    </div>
                                </div>
                                <!--  -->
                                <div class="col-md-8">
                                    <div class="amwd-project-list_details_body">
                                        <h2 class="amwd-project-list_h2">
                                            <div class="amwd-project-list_pt"><a
                                                    href="https://www.eliteproinfra.com/properties/Omaxe-chandni-chowk"
                                                    style="color:#000;">Omaxe Chandni Chowk</a></div>
                                            <span class="amwd-project-list_span">
                                                <span class="amwd-project-list_span_i1"><i
                                                        class="fa fa-map-marker"></i>Chandni Chowk Delhi, Delhi</span>
                                            </span>
                                        </h2>
                                        <div class="amwd-project-list_p-main">
                                            <div class="amwd-project-list_p-main2">
                                                <span class="amwd-project-list_price">₹ 55 Lakh Onwards</span>
                                            </div>
                                            <div class="amwd-project-list_inner_details">
                                                <ul class="amwd-project-list_inner_details_ul">
                                                    <li class="amwd-project-list_inner_details_li">
                                                        <div class="amwd-project-list_inner_details_area1">40 sq.ft.
                                                        </div>
                                                    </li>
                                                    <li class="amwd-project-list_inner_details_li">
                                                        <div class="amwd-project-list_inner_details_area1">Ready To Move
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="amwd-project-list_inner_details_des">
                                            <div>
                                                <p class="addReadMore showlesscontent">Omaxe Chandni Chowk Commercial
                                                    Space In Delhi</p>
                                            </div>
                                        </div>

                                        <div class="amwd-project-list_inner_details_down_b">
                                            <div class="amwd-project-list_inner_details_down_box">
                                                <div class="amwd-project-list_inner_details_down_box_t">24*7 Security
                                                </div>
                                            </div>
                                            <div class="amwd-project-list_inner_details_down_box">
                                                <div class="amwd-project-list_inner_details_down_box_t">Elevator</div>
                                            </div>
                                            <div class="amwd-project-list_inner_details_down_box">
                                                <div class="amwd-project-list_inner_details_down_box_t">CCTV</div>
                                            </div>
                                            <div class="amwd-project-list_inner_details_down_box">
                                                <div class="amwd-project-list_inner_details_down_box_t">Parking Space
                                                </div>
                                            </div>
                                            <div class="amwd-project-list_inner_details_down_box">
                                                <div class="amwd-project-list_inner_details_down_box_t">Cafeteria/Food
                                                    Court</div>
                                            </div>
                                            <div class="amwd-project-list_inner_details_down_box">
                                                <div class="amwd-project-list_inner_details_down_box_t">Bar/Lounge</div>
                                            </div>
                                            <div class="amwd-project-list_inner_details_down_box">
                                                <div class="amwd-project-list_inner_details_down_box_t">Power Backup
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="amwd-project-list_d_contact">
                                        <div class="amwd-project-list_d_contact_inner">
                                            <a href="https://www.eliteproinfra.com/properties/Omaxe-chandni-chowk"><button
                                                    class="amwd-project-list_d_contact_inner_b1">Details</button></a>
                                            <button class="amwd-project-list_d_contact_inner_b2">
                                                <i class="fa fa-phone"></i>
                                                <span class="amwd-project-list_d_contact_inner_b2_t">Contact
                                                    Agent</span>
                                            </button>
                                            <a href="https://api.whatsapp.com/send/?phone=919810474360&amp;text=Hi! I'm Interested In Omaxe Chandni Chowk. Please Share Details."
                                                target="_blank">
                                                <button class="amwd-project-list_d_contact_inner_b3">
                                                    <i class="fab fa-whatsapp"></i>
                                                    <span class="amwd-project-list_d_contact_inner_b3_t">WhatsApp</span>
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Stop -->
                    </div>
                </div>
                <!--Blog post ends-->


                <!--Sticy Sidebar starts-->
                <div id="sticky-anchor"></div>
                <div class="buildersidebar" style="position: relative;">
                    <h3 class="widget-title">
                        <span class="amwd-floating-phone phone">
                            <i class="fa fa-envelope"></i></span> Contact our Real Estate Experts
                    </h3>
                    <form class="myForm" name="permissions" action="https://www.eliteproinfra.com/send-mail"
                        method="post" enctype="multipart/form-data" novalidate="">
                        <input type="hidden" name="_token" value="QyuxtPbiXR04uFGHHa6Czd1AQm8x4tMNhPafEqhN"> <input
                            type="hidden" name="redirect_url" value="properties">
                        <div class="mortgage-group">
                            <input class="mortgage-field" type="text" name="name" placeholder="Enter Name" required="">
                        </div>
                        <div class="mortgage-group">
                            <input class="mortgage-field" type="email" name="email" placeholder="Email Id" required="">
                        </div>
                        <div class="mortgage-group">
                            <input class="mortgage-field" type="tel" name="phone" placeholder="Phone Number"
                                required="">
                        </div>
                        <div class="mortgage-group">
                            <input class="mortgage-field" type="text" name="city" placeholder="City" required="">
                        </div>
                        <div class="amwd-details-form-checked">
                            <input type="checkbox" name="whatsapp_check" checked=""
                                data-parsley-multiple="whatsapp_check">
                            <label class="amwd-details-form-checked-whatsapp">Enable updates through <span><i
                                        class="fab fa-whatsapp"></i> <strong>WhatsApp</strong></span></label>
                        </div>
                        <div class="mortgage-btn">
                            <button type="submit" data-toggle="modal" data-target="#mortgage_result">Contact
                                Now</button>
                        </div>
                    </form>
                </div>
                <!-- sticky sidebar ends -->


            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}
{% endblock %}