{% extends 'base.html' %}

{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/residential.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="div-height">
    <div class="headline">
        <h1>
            <span class="comm-headline">
                <span>Residential</span>
            </span>
        </h1>

    </div>
</section>

<section class="shiftcomm">
    <div class="row service-v1 margin-bottom-40">
        <div class="col-md-4 md-margin-bottom-40">
            <div class="card small">
                <div class="card small-item">
                    <div class="card-image">
                        <img class="img-responsive" src="/static/img/service1.jpg" alt="">
                    </div>
                    <ul class="feature-text">
                        <li class="feature-text-item1">
                            <span>Residential</span>

                        </li>
                        <li class="feature-text-item2">
                            <span>New Launch</span>
                        </li>
                    </ul>
                    
                </div>
                <div class="card-content">
                    <h4>Orange County</h4>
                    <div class="property-location">
                        <p><span class="top-map-marker"><i class="fa fa-map-marker"></i></span> Sector 65, Gurugram</p>
                    </div>
                    <ul class="property-feature">
                        <li> <i class="material-icons"></i>
                            <span>250 - 1000 Sq. Ft.</span>
                        </li>

                    </ul>
                    <div class="trending-bottom">
                        <div class="trend-left float-left">
                            <ul class="product-rating">
                                <li><i class="fa fa-star checked"></i></li>
                                <li><i class="fa fa-star checked"></i></li>
                                <li><i class="fa fa-star checked"></i></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <a class="trend-right float-right">
                            <div class="trend-open">
                                <p><span class="per_sale">starts from</span>/₹1.2 CR*</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 md-margin-bottom-40">
            <div class="card small">
                <div class="card small-item">
                    <div class="card-image">
                        <img class="img-responsive" src="/static/img/service2.jpg" alt="">
                    </div>
                    <ul class="feature-text">
                        <li class="feature-text-item1">
                            <span>Residential</span>

                        </li>
                        <li class="feature-text-item2">
                            <span>New Launch</span>

                        </li>
                    </ul>
                </div>
                <div class="card-content">
                    <h4>Orange County</h4>
                    <div class="property-location">
                     
                        <p><span class="top-map-marker"><i class="fa fa-map-marker"></i></span> Sector 65, Gurugram</p>
                    </div>

                    <ul class="property-feature">
                        <li> <i class="material-icons"></i>
                            <span>250 - 1000 Sq. Ft.</span>
                        </li>

                    </ul>
                    <div class="trending-bottom">
                        <div class="trend-left float-left">
                            <ul class="product-rating">
                                <li><i class="fa fa-star checked"></i></li>
                                <li><i class="fa fa-star checked"></i></li>
                                <li><i class="fa fa-star checked"></i></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <a class="trend-right float-right">
                            <div class="trend-open">
                                <p><span class="per_sale">starts from</span>/₹1.2 CR*</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 md-margin-bottom-40">
            <div class="card small">
                <div class="card small-item">
                    <div class="card-image">
                        <img class="img-responsive" src="/static/img/service3.jpg" alt="">
                    </div>
                    <ul class="feature-text">
                        <li class="feature-text-item1">
                            <span>Residential</span>

                        </li>
                        <li class="feature-text-item2">
                            <span>New Launch</span>

                        </li>
                    </ul>
                </div>
                <div class="card-content">
                    <h4>Orange County</h4>
                    <div class="property-location">
                    
                        <p><span class="top-map-marker"><i class="fa fa-map-marker"></i></span> Sector 65, Gurugram</p>
                    </div>

                    <ul class="property-feature">
                        <li> <i class="material-icons"></i>
                            <span>250 - 1000 Sq. Ft.</span>
                        </li>

                    </ul>
                    <div class="trending-bottom">
                        <div class="trend-left float-left">
                            <ul class="product-rating">
                                <li><i class="fa fa-star checked"></i></li>
                                <li><i class="fa fa-star checked"></i></li>
                                <li><i class="fa fa-star checked"></i></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <a class="trend-right float-right">
                            <div class="trend-open">
                                <p><span class="per_sale">starts from</span>/₹1.2 CR*</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 md-margin-bottom-40">
            <div class="card small">
                <div class="card small-item">
                    <div class="card-image">
                        <img class="img-responsive" src="/static/img/service1.jpg" alt="">
                    </div>
                    <ul class="feature-text">
                        <li class="feature-text-item1">
                            <span>Residential</span>

                        </li>
                        <li class="feature-text-item2">
                            <span>New Launch</span>

                        </li>
                    </ul>
                </div>
                <div class="card-content">
                    <h4>Orange County</h4>
                    <div class="property-location">
                
                        <p><span class="top-map-marker"><i class="fa fa-map-marker"></i></span> Sector 65, Gurugram</p>
                    </div>

                    <ul class="property-feature">
                        <li> <i class="material-icons"></i>
                            <span>250 - 1000 Sq. Ft.</span>
                        </li>

                    </ul>
                    <div class="trending-bottom">
                        <div class="trend-left float-left">
                            <ul class="product-rating">
                                <li><i class="fa fa-star checked"></i></li>
                                <li><i class="fa fa-star checked"></i></li>
                                <li><i class="fa fa-star checked"></i></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <a class="trend-right float-right">
                            <div class="trend-open">
                                <p><span class="per_sale">starts from</span>/ ₹1.2 CR*</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 md-margin-bottom-40">
            <div class="card small">
                <div class="card small-item">
                    <div class="card-image">
                        <img class="img-responsive" src="/static/img/service2.jpg" alt="">
                    </div>
                    <ul class="feature-text">
                        <li class="feature-text-item1">
                            <span>Residential</span>

                        </li>
                        <li class="feature-text-item2">
                            <span>New Launch</span>

                        </li>
                    </ul>
                </div>
                <div class="card-content">
                    <h4>Orange County</h4>
                    <div class="property-location">
                
                        <p><span class="top-map-marker"><i class="fa fa-map-marker"></i></span> Sector 65, Gurugram</p>
                    </div>

                    <ul class="property-feature">
                        <li> <i class="material-icons"></i>
                            <span>250 - 1000 Sq. Ft.</span>
                        </li>

                    </ul>
                    <div class="trending-bottom">
                        <div class="trend-left float-left">
                            <ul class="product-rating">
                                <li><i class="fa fa-star checked"></i></li>
                                <li><i class="fa fa-star checked"></i></li>
                                <li><i class="fa fa-star checked"></i></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <a class="trend-right float-right">
                            <div class="trend-open">
                                <p><span class="per_sale">starts from</span>/₹60 lakh to 2 CR*</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 md-margin-bottom-40">
            <div class="card small">
                <div class="card small-item">
                    <div class="card-image">
                        <img class="img-responsive" src="/static/img/service3.jpg" alt="">
                    </div>
                    <ul class="feature-text">
                        <li class="feature-text-item1">
                            <span>Residential</span>

                        </li>
                        <li class="feature-text-item2">
                            <span>New Launch</span>

                        </li>
                    </ul>
                </div>
                <div class="card-content">
                    <h4>Orange County</h4>
                    <div class="property-location">
                       
                        <p><span class="top-map-marker"><i class="fa fa-map-marker"></i></span> Sector 65, Gurugram</p>
                    </div>

                    <ul class="property-feature">
                        <li> <i class="material-icons"></i>
                            <span>250 - 1000 Sq. Ft.</span>
                        </li>

                    </ul>
                    <div class="trending-bottom">
                        <div class="trend-left float-left">
                            <ul class="product-rating">
                                <li><i class="fa fa-star checked"></i></li>
                                <li><i class="fa fa-star checked"></i></li>
                                <li><i class="fa fa-star checked"></i></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <a class="trend-right float-right">
                            <div class="trend-open">
                                <p><span class="per_sale">starts from</span>/₹60 lakh to 2 CR*</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{% include 'footer.html' %}
{% endblock %}