{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/residentialSingleListing.css" />

<Section class="alldetails">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12 col-xl-8 col-md-12">
                <div class="alldetails-image-gallery">
                    <div class="alldetails-slider">
                        <div id="gallery" class="list-alldetails-section">
                            <!--Carousel Wrapper-->
                            <div class="carousel-container">
                                <div class="carousel-main">
                                  <div class="carousel-item active">
                                    <img class="d-block w-100" src="{% for each2 in property.image.all|slice:':1' %}{{each2.image.url }}{% endfor %}"  alt="First slide">
                                  </div>
                                 
                                </div>
                                <div class="carousel-thumbnails">
                                {% for each2 in property.image.all %} 
                                  <div class="carousel-thumbnail active">
                                    <img src="{{each2.image.url }}" alt="Slide 1 Thumbnail">
                                  </div>
                                  {% endfor %}
                                </div>
                            </div>
                            <!--/.Carousel Wrapper-->
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 col-sm-12 col-xl-4 col-md-12">
                <div class="alldetails-1c">
                    <h1>{{residential_single_list.title}}</h1>
                </div>
                <div class="alldetails-1d">
                    <span class="top-map-marker"><i class="fa fa-map-marker"></i></span> <span>{{residential_single_list.location}}
                    </span>
                </div>
                <div class="alldetails-hr"></div>
                <div class="alldetails-price-top">
                    <div class="alldetails-price-top-1">
                        <span class="alldetails-price-currency">₹</span>
                        <span class="alldetails-min-price">{{residential_single_list.area_min}} to {{residential_single_list.area_max}} CR*</span>
                    </div>
                    <div class="alldetails-onwards-price">₹ {{residential_single_list.psf}} Per Sq. Ft Onwards</div>
                    <div class="alldetails-rating-sec">
                        <span class="fa fa-star checked">{{residential_single_list.rating}}</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star unchecked"></span>
                        <span>
                            <a class="alldetails-rating-5" href="#">
                                5 ratings
                            </a>
                        </span>
                    </div>
                    <div class="alldetails-status">Status: <span>{{residential_single_list.status}}</span></div>

                    <!-- Project-Size-1 -->
                    <div class="alldetails-project-size">
                        <table class="alldetails-project-size-table">
                            <tbody>
                                <tr>
                                    <td rowspan="2"> <img
                                            src="https://www.eliteproinfra.com/front/images/details-new/icon-2.png">
                                    </td>
                                    <td> <span>Project Size</span> </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="alldetails-project-size-list">
                                            <li style="color: #000;">1600 to 2300 Sq. Ft.</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Project-Size-2 -->
                    <div class="alldetails-project-size">
                        <table class="alldetails-project-size-table">
                            <tbody>
                                <tr>
                                    <td rowspan="2"> <img
                                            src="https://www.eliteproinfra.com/front/images/details-new/icon-1.png">
                                    </td>
                                    <td> <span>Configurations: 2 BHK-3 BHK Ind Floor from</span> </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="alldetails-project-size-list">
                                            <li style="color: #000;">1100 Sq. Ft. to 1600 Sq. Ft. (Saleable)</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Project-Size-3 -->
                    <div class="alldetails-project-size">
                        <table class="alldetails-project-size-table">
                            <tbody>
                                <tr>
                                    <td rowspan="2"> <img
                                            src="https://www.eliteproinfra.com/front/images/details-new/icon-3.png">
                                    </td>
                                    <td> <span>Properties for Sale</span> </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="alldetails-project-size-list">
                                            <li style="color: #000;">{{residential_single_list.title}}</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="alldetails-request-call-back-sec">
                    <a href="tel:180030029797">
                        <button class="alldetails-request-call-back">
                            <span><i class="fa fa-phone"></i></span>
                            <small>
                                Request a Call Back
                            </small>
                        </button>
                    </a>
                </div>
            </div>


            <section class="alldetails-2b">
                <div class="container">
                    <div class="row">
                        <div class="alldetails-1c">
                            <div class="col-lg-8 col-sm-12 col-xl-8 col-md-12">
                                <div class="listing-desc-wrap mr-30">

                                    <!--Listing Details starts-->
                                    <div class="list-alldetails-wrap">
                                        <div class="alldetails-listing-heading">
                                            <h4>Overview</h4>
                                        </div>
                                        <div id="description" class="list-alldetails-section">
                                            <div class="overview-content">
                                                <p class="mb-10">
                                                </p>
                                                <p style="text-align: center;"><strong>{{residential_single_list.title_overview}}</strong></p>
                                                <p>{{residential_single_list.description_overview}}</p>
                                                <p><strong>Unmatched Specifications of M3M Capital</strong></p>
                                                <p>The property offers apartments with 0.5 extra room edge that can be
                                                    used as per dweller's customization i.e, as a library or gym, or
                                                    home office space. M3M Capital 113 has everything contemporary,
                                                    making one's lifestyle convenient and more urbanized. The amenities
                                                    and configurations available here satisfy the resident’s desire to
                                                    live in an ultra-luxurious apartment in a prime Gurgaon
                                                    neighborhood. It guarantees that you breathe cleaner and are close
                                                    to famous landmarks, business parks, universities, schools,
                                                    healthcare, and everything else you need. With Vaastu-compliant
                                                    features, every bit of the apartments here is skillfully built to
                                                    give you a spacious and well-ventilated residence, so you'll never
                                                    run out of space and positive energy.</p>
                                                <p><strong>Location Advantages of Having a Home in Sector 113,
                                                        Gurugram</strong></p>
                                                <p>When someone searches for a desirable home, the first thing that
                                                    makes an impact is the location of the property as it must provide
                                                    hassle-free accessibility to public transit and other civic
                                                    facilities and M3M Capital Sector 113 excels in this regard. The M3M
                                                    Capital flats are unquestionably high-quality apartments loaded with
                                                    modern amenities, classy interiors, and high-end fittings &amp;
                                                    fixtures. Talking about the pricing, the apartments are reasonably
                                                    priced considering the luxury specifications that it offers. Sector
                                                    113 is a prominent location in Gurugram. If you have the desire to
                                                    own a property at such an iconic address then, M3M Capital 113 is
                                                    your destination as you would never have to be concerned about
                                                    traveling or being on time again.</p>
                                                <p>Due to its excellent infrastructure and close proximity to the
                                                    significant commercial areas of Cyber City and Udhyog Vihar, Sector
                                                    113, Dwarka Expressway, is one of the most sought-after sectors of
                                                    Gurugram. One living here can enjoy smooth connectivity to Sohna
                                                    Road, Delhi, and Bahadurgarh via the Dwarka Expressway. This
                                                    location is only 5.2 km from the Railway Station. The international
                                                    IGI Airport, the Diplomatic Enclave, and the India International
                                                    Convention Center are all nearby, making M3M Capital Gurugram a
                                                    prime real estate location.</p>
                                                <p><strong>A Gateway to State-of-the-art Amenities &amp; Exquisite
                                                        Lifestyle</strong><br><br>When you own an apartment at this
                                                    property in Gurugram, you tend to invest in a luxurious lifestyle
                                                    where all comforts of life are incorporated thoughtfully to offer
                                                    the finest living experience. From vast open spaces to
                                                    meticulously-designed interiors, it is a residential development
                                                    with everything best for you and your family. Moreover, the location
                                                    is an eminent part of Gurugram from where you can reach the airport
                                                    within 7 minutes of travel time. It is located next to Delhi and
                                                    saves you the time of commuting to a high extent.</p>
                                                <p>Also, it provides amenities like an outdoor event space, a kids' play
                                                    area, and contemporary art studios that enhance your quality of
                                                    life. The well-designed residences in the M3M Capital Floor Plan
                                                    have an additional edge that may be used as a library, home office,
                                                    or even a private gym. Each room at this new launch property
                                                    includes a sizable balcony as well. Large windows and expansive
                                                    patios give homeowners a beautiful view of the surrounding scenery,
                                                    the city skyline, and abundant natural light. Such a magnificent
                                                    apartment is undeniable and would be an excellent investment if you
                                                    are looking for a dream home in Gurugram’s posh locality.</p>
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Listing Details starts-->
                                    <div class="list-alldetails-wrap">
                                        <div class="alldetails-listing-heading">
                                            <h4>Payment Plan</h4>
                                        </div>
                                        <div id="payment" class="list-alldetails-section">
                                            <div class="pricelisttable">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th align="left" valign="middle">Unit Type</th>
                                                            <th align="center" valign="middle">Area</th>
                                                            <th align="center" valign="middle">Price*</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td td="" align="left" valign="middle"> <span>3 Bhk</span>
                                                            </td>
                                                            <td td="" align="left" valign="middle"> <span>1600</span>
                                                            </td>
                                                            <td td="" align="left" valign="middle"> <span>2 Cr</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Listing Details starts-->
                                    <div class="list-alldetails-wrap">
                                        <div class="alldetails-listing-heading">
                                            <h4>Brochure</h4>
                                        </div>
                                        <div id="brochure" class="list-alldetails-section">
                                            <div class="overview-content" style="padding:30px 30px;">
                                                <center><a href="#" class="btn btn-danger bro">Download</a>
                                                </center>
                                            </div>
                                        </div>
                                    </div>

                                    {% comment %} <div class="list-alldetails-wrap">
                                        <div class="alldetails-listing-heading">
                                           <h4>Key Highlights</h4>
                                        </div>
                                        <div id="KeyHighlights" class="list-alldetails-section">
                                           <div class="overview-content">
                                                                      <div class="row map-down-pad">
                                                                            <div class="col-md-12">
                                                    <div class="map-down-right" style="width: 2%;">
                                                       <i class="fa fa-angle-right"></i>
                                                    </div>
                                                    <div class="map-down-left">
                                                       <h4 style="padding-bottom: 7px; border-bottom: 0px">Multi-tier Security System</h4>
                                                    </div>
                                                 </div>
                                                                            <div class="col-md-12">
                                                    <div class="map-down-right" style="width: 2%;">
                                                       <i class="fa fa-angle-right"></i>
                                                    </div>
                                                    <div class="map-down-left">
                                                       <h4 style="padding-bottom: 7px; border-bottom: 0px">COME home to a grand sense of arrival</h4>
                                                    </div>
                                                 </div>
                                                                            <div class="col-md-12">
                                                    <div class="map-down-right" style="width: 2%;">
                                                       <i class="fa fa-angle-right"></i>
                                                    </div>
                                                    <div class="map-down-left">
                                                       <h4 style="padding-bottom: 7px; border-bottom: 0px">Ecosystem for fulfilling all your desires</h4>
                                                    </div>
                                                 </div>
                                                                            <div class="col-md-12">
                                                    <div class="map-down-right" style="width: 2%;">
                                                       <i class="fa fa-angle-right"></i>
                                                    </div>
                                                    <div class="map-down-left">
                                                       <h4 style="padding-bottom: 7px; border-bottom: 0px">26 months free maintenance</h4>
                                                    </div>
                                                 </div>
                                                   
                                              </div>
                                           </div>
                                        </div>
                                     </div> {% endcomment %}

                                    <!--Listing Details starts-->
                                    <div class="list-alldetails-wrap">
                                        <div class="alldetails-listing-heading">
                                            <h4> Amenities </h4>
                                        </div>
                                        <div id="amenities" class="list-alldetails-section">
                                            <div class="row amenitiesshift">
                                                <div class="alldetails-amenities-list">
                                                    <img
                                                        src="https://www.eliteproinfra.com/uploads/amenities/1677404618.png">
                                                    <h4>Gym</h4>
                                                </div>
                                                <div class="alldetails-amenities-list">
                                                    <img
                                                        src="https://www.eliteproinfra.com/uploads/amenities/1677404652.png">
                                                    <h4>Swimming Pool</h4>
                                                </div>
                                                <div class="alldetails-amenities-list">
                                                    <img
                                                        src="https://www.eliteproinfra.com/uploads/amenities/1677404683.png">
                                                    <h4>Club House</h4>
                                                </div>
                                                <div class="alldetails-amenities-list">
                                                    <img
                                                        src="https://www.eliteproinfra.com/uploads/amenities/1677404701.png">
                                                    <h4>24*7 Security</h4>
                                                </div>
                                                <div class="alldetails-amenities-list">
                                                    <img
                                                        src="https://www.eliteproinfra.com/uploads/amenities/1677404731.png">
                                                    <h4>Elevator</h4>
                                                </div>
                                                <div class="alldetails-amenities-list">
                                                    <img
                                                        src="https://www.eliteproinfra.com/uploads/amenities/1677404740.png">
                                                    <h4>CCTV</h4>
                                                </div>
                                                <div class="alldetails-amenities-list">
                                                    <img
                                                        src="https://www.eliteproinfra.com/uploads/amenities/1677410390.png">
                                                    <h4>Parking Space</h4>
                                                </div>
                                                <div class="alldetails-amenities-list">
                                                    <img
                                                        src="https://www.eliteproinfra.com/uploads/amenities/1677410411.png">
                                                    <h4>Cafeteria/Food Court</h4>
                                                </div>
                                                <div class="alldetails-amenities-list">
                                                    <img
                                                        src="https://www.eliteproinfra.com/uploads/amenities/1677410421.png">
                                                    <h4>Bar/Lounge</h4>
                                                </div>
                                                <div class="alldetails-amenities-list">
                                                    <img
                                                        src="https://www.eliteproinfra.com/uploads/amenities/1677410432.png">
                                                    <h4>Power Backup</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!--Listing Details starts-->
                                    <div class="list-alldetails-wrap">
                                        <div class="alldetails-listing-heading">
                                            <h4>Location Map </h4>
                                        </div>
                                        <div id="map1" class="list-alldetails-section">
                                            <div class="overview-content">
                                                <iframe
                                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3505.5228339046416!2d77.0257180150801!3d28.524000682460773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1b6eb77ef367%3A0xc6696370de8fe48!2sM3M%20Capital!5e0!3m2!1sen!2sin!4v1677548241900!5m2!1sen!2sin"
                                                    width="100%" height="350" style="border:0;" allowfullscreen=""
                                                    loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                            </div>

                                        </div>
                                    </div>

                                    <!--Listing Details starts-->
                                    <div class="list-alldetails-wrap">
                                        <div class="alldetails-listing-heading">
                                            <h4>About Developer</h4>
                                        </div>
                                        <div id="about" class="list-alldetails-section">
                                            <div class="row">
                                                <div class="col-md-3 about-prop">
                                                    <img
                                                        src="https://www.eliteproinfra.com/uploads/builder/1678529576.png">
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="overview-content">
                                                        <p class="mb-10">M3M India is the fastest-growing and
                                                            high-ranking real estate corporation. It has changed the way
                                                            everyone looks at the Indian real estate market. The
                                                            developer has delivered some amazing commercial and
                                                            residential developments with swiftness, class,
                                                            extravagance, and innovation. By completing projects that
                                                            are sustainable and focused on the needs of the new-age
                                                            customer and investors, M3M India works with a vision to
                                                            become the most considerable and reputable real estate brand
                                                            in India. Taken together, the developments delivered by M3M
                                                            showcase the picture of the thriving New Millennium
                                                            Gurugram. The Group's initiatives have consistently been
                                                            recognized as the best and honored with several industrial
                                                            and lifestyle awards around the globe. It is known greatly
                                                            for using premium materials, world-class architecture, and
                                                            high-end in its constructions. M3M Group has offered
                                                            splendid residential complexes that enhance luxury living
                                                            experiences for the residents.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Listing Details starts-->
                                    <div class="list-alldetails-wrap">
                                        <div class="alldetails-listing-heading">
                                            <h4>Questions and Answers</h4>
                                        </div>
                                        <div id="faq" class="down-question-answer">
                                            <div class=" faq-section">
                                                <!-- Listing Details starts-->
                                                <div class="list-alldetails-wrap">
                                                    <div id="accordion1" role="tablist">
                                                        <div class="card">
                                                            <div class="card-header" role="tab" id="headingOne">
                                                                <a role="button" data-toggle="collapse"
                                                                    data-parent="#accordion1" href="#collapseOne_4"
                                                                    aria-expanded="false" aria-controls="collapseOne_4"
                                                                    class="collapsed">Where M3M Capital 113 is
                                                                    located?</a>
                                                            </div>
                                                            <div id="collapseOne_4" class="panel-collapse collapse"
                                                                role="tabpanel" aria-labelledby="headingOne" style="">
                                                                <div class="card-body">M3M Capital 113 is located in
                                                                    Dwarka Expressway Gurgaon, just a few steps away
                                                                    from Delhi Border.</div>
                                                            </div>
                                                        </div>
                                                        <div class="card">
                                                            <div class="card-header" role="tab" id="headingOne">
                                                                <a role="button" data-toggle="collapse"
                                                                    data-parent="#accordion1" href="#collapseOne_5"
                                                                    aria-expanded="false" aria-controls="collapseOne_5"
                                                                    class="collapsed">Which is the nearest metro station
                                                                    from M3M Capital location?</a>
                                                            </div>
                                                            <div id="collapseOne_5" class="panel-collapse collapse"
                                                                role="tabpanel" aria-labelledby="headingOne" style="">
                                                                <div class="card-body">The closest metro station to M3M
                                                                    Capital is Dwarka sector 21 metro station.</div>
                                                            </div>
                                                        </div>
                                                        <div class="card">
                                                            <div class="card-header" role="tab" id="headingOne">
                                                                <a role="button" data-toggle="collapse"
                                                                    data-parent="#accordion1" href="#collapseOne_6"
                                                                    aria-expanded="false" aria-controls="collapseOne_6"
                                                                    class="collapsed">What is the name of the builder
                                                                    constructing this project?</a>
                                                            </div>
                                                            <div id="collapseOne_6" class="panel-collapse collapse"
                                                                role="tabpanel" aria-labelledby="headingOne" style="">
                                                                <div class="card-body">Builder is M3M India</div>
                                                            </div>
                                                        </div>
                                                        <div class="card">
                                                            <div class="card-header" role="tab" id="headingOne">
                                                                <a role="button" data-toggle="collapse"
                                                                    data-parent="#accordion1" href="#collapseOne_7"
                                                                    aria-expanded="false" aria-controls="collapseOne_7"
                                                                    class="collapsed">Is the project having a registered
                                                                    RERA number?</a>
                                                            </div>
                                                            <div id="collapseOne_7" class="panel-collapse collapse"
                                                                role="tabpanel" aria-labelledby="headingOne" style="">
                                                                <div class="card-body">The Project registered on RERA
                                                                    the project RERA Is RERA-GRG-PROJ-1006-2022</div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12 col-xl-4 col-md-12 posit"
                                style="height: 4100px; position: relative;">
                                <div id="list-sidebar" class="listing-sidebar" style="">
                                    <div class="inner-wrapper-sticky" style="position: relative;">
                                        <div class="widget mortgage-widget">
                                            <h3 class="widget-title"><span class="amwd-floating-phone phone"><i
                                                        class="fa fa-envelope"></i></span> Contact our Real Estate
                                                Experts</h3>
                                            <form class="myForm" action="https://www.eliteproinfra.com/send-mail"
                                                method="post" enctype="multipart/form-data" novalidate="">
                                                <input type="hidden" name="_token"
                                                    value="iPMRUYEkqQVBK8iYR9jMYuZcXWJCjPaBOI3Vy3Dq"> <input
                                                    type="hidden" name="redirect_url"
                                                    value="properties/m3m-capital-113-gurgaon">
                                                <div class="mortgage-group">
                                                    <input class="mortgage-field" type="text" name="name"
                                                        placeholder="Enter Name" required="">
                                                </div>
                                                <div class="mortgage-group">
                                                    <input class="mortgage-field" type="email" name="email"
                                                        placeholder="Email Id" required="">
                                                </div>
                                                <div class="mortgage-group">
                                                    <input class="mortgage-field" type="number" name="phone"
                                                        placeholder="Phone Number" required="">
                                                </div>
                                                <div class="mortgage-group">
                                                    <input class="mortgage-field" type="text" name="city"
                                                        placeholder="City" required="">
                                                </div>
                                                <div class="alldetails-form-checked">
                                                    <input type="checkbox" name="whatsapp_check" checked=""
                                                        data-parsley-multiple="whatsapp_check">
                                                    <label class="alldetails-form-checked-whatsapp">Enable updates
                                                        through <span><i class="fa fa-whatsapp"></i>
                                                            <strong>WhatsApp</strong></span></label>
                                                </div>
                                                <div class="mortgage-btn">
                                                    <button type="submit" data-toggle="modal"
                                                        data-target="#mortgage_result">Contact Now</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</Section>


{% include 'footer.html' %}
{% endblock %}